<li class="dropdown">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <p>How-to<span class="caret"></span></p>
  </a>

  <ul class="dropdown-menu scrollable-menu">

    <%- example_groups.each do |group, example_links| -%>
      <li class="dropdown-header"><%= group %>:</li>

      <%- example_links.each do |example_link| -%>
        <li><a href="<%= example_link[:href] -%>"><%= example_link[:desc] -%></a></li>
      <%- end -%>
      <li role="separator" class="divider"></li>
    <%- end -%>

  </ul>

</li>
