<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Dependency</h2>
        <hr class="star-primary">
    </div>
</div>

<div class="row">
  <h4>rack-app use one dependency only:</h4>
  <img class="img-responsive" src="/img/gem_graph.png" style="width: 50%" alt="">
</div
<h3></h3>
